<div class="container mb-5 mt-5">
  <div class="card col-md-10">
              <h3 class="text-center mb-5"> Comments to post </h3>
              <div class="comment">
                <app-comments></app-comments>
              </div>
              <div class="comment">
                <app-comments></app-comments>
              </div>
              <div class="comment">
                <app-comments></app-comments>
              </div>
              <div class="comment">
                <app-comments></app-comments>
              </div>
  </div>
</div>