<div class="offset-md-3 col-md-9">
    <div class="d-flex justify-content-between">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <button type="submit" class="btn btn-primary ml-30">Reply</button>
    </div>
</div>