<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/content/anton1.jpg" alt="Anton's photo" style="width:100%">
      <div class="container">
        <h2>Anton Pylypenko</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <div class="d-flex justify-content-center">           
            <p>mypost@gmail.com</p>
        </div>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/content/anton2.jpg" alt="Anton's photo" style="width:100%">
      <div class="container">
        <h2>Anton Pylypenko</h2>
        <p class="title">Developer</p>        
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <div class="d-flex justify-content-center">           
            <p>mypost@gmail.com</p>
        </div>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/content/anton3.jpg" alt="Anton's photo" style="width:100%">
      <div class="container">
        <h2>Anton Pylypenko</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <div class="d-flex justify-content-center">
            <p class="text-align">mypost@gmail.com</p>
        </div>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>