button {
    margin-bottom: 15px;

    &:hover {
        background-color: white;
        color: blue;
    }
}

.rounded-circle {
    height: 100px;
    width: 100px;
}

.subcomment {
    margin-left: 10%;
}