<div class="col-md-12 mb-2 mt-2">
  <div class="media"> <img class="mr-3 rounded-circle " alt="Bootstrap Media Preview" src="https://i.imgur.com/stD0Q19.jpg" />
      <div class="media-body">
          <div class="row">
              <div class="col-8 d-flex">
                  <h5>Maria Smantha</h5> <span>- 2 hours ago</span>
              </div>
          </div> 
          It is a long established fact that a reader will be distracted by the readable content of a page.
      </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="onClick()">Reply</button>
  </div>
  <ng-container *ngIf="isReply">
    <app-comment-reply></app-comment-reply>
  </ng-container>
  <ng-container *ngIf="isAddedComment">
      <div class="subcomment">
        <app-comments></app-comments>
        <app-comment-reply></app-comment-reply>
      </div>  
  </ng-container>
</div>