<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <form >
        <div class="form-group">
          <label for="exampleInputEmail1">Name *</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
          required placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email *</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          required placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea  type="text" class="form-control " id="exampleFormControlTextarea1" rows="5" 
          required placeholder="Enter your message"></textarea>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
     
  </div>
</div>
