<div class="container">
  <div class="col-md-12">
    <div class="form">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" 
        required placeholder="Enter title" [(ngModel)]="post.header">
      </div>

      <div class="form-group">
        <label for="contactMethod">Contact method</label>
        <select 
            name="contactMethod" 
            id="contactMethod" 
            class="form-control"
            [(ngModel)]="post.topicId">
            <option *ngFor="let method of topics" [value]="method.id">{{ method.topicName }}</option>
        </select>
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control" id="exampleInputEmail1" 
        required placeholder="Enter text of article" [(ngModel)]="post.text"></textarea>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" 
        required placeholder="Url for picture" [(ngModel)]="post.imageUrl">
      </div>

      <button class="btn btn-primary" type="button" (click)="onAddPost()">
        Submit
      </button>
    </div>
  </div>
</div>