footer {
    position: fixed; 
    left: 0; bottom: 0; 
    width: 100%;
    padding: 3px;
    background-color: rgb(194, 251, 255);
    box-shadow: 0 0 10px rgba(18, 247, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    margin-top: 1%;
    height: 60px;
}

.container {
    margin-top: 100px;
}