<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer>
                &copy;Anton Pylypenko<br>e-mail: <a href="anton.pylypenko5@gmail.com">anton.pylypenko5@gmail.com</a>
            </footer>
        </div>
    </div>
</div>
