
<app-header></app-header>
<div class="container">
<router-outlet></router-outlet>
   <!-- <app-home></app-home> -->
   <!-- <app-story-item></app-story-item> -->
   <!-- <app-registration></app-registration> -->
</div>
<app-footer><app-footer>