<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <form>
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <input type="text" placeholder="Enter Email" name="email" required>      
          <input type="password" placeholder="Enter Password" required>
          <input type="password" placeholder="Repeat Password" required>
          <hr>      
          <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
          <div class="div">
            <button type="submit" class="registerbtn">Register</button> 
          </div>
          <div class="container signin">
            Already have an account? <br> <a routerLink="/signin">Sign in</a>.
          </div>
      </form> 
    </div>
  </div>
</div>
