<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-5">
        <form>
            <h1>Enter your data :)</h1>
            <p>Please fill in this form to enter your account.</p>
            <hr>
            <input type="text" placeholder="Enter Email" name="email" required>      
            <input type="password" placeholder="Enter Password" required>
            <hr>      
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <div class="div d-flex justify-content-center">
              <button type="submit" class="registerbtn">Sign in</button> 
            </div>
        </form> 
      </div>
    </div>
</div>
  