<div>
  <div class="row">
    <h2>{{postItem.header}}</h2>
    <div class="col-md-12">
      {{postItem.text}}
    </div>
    
    <div >
      <a href="single.html"><img
        [src]="postItem.imageUrl"
        class="img-fluid" alt="Colorlib Template" data-pagespeed-url-hash="1069472273"></a>
    </div>
    <div>
      <ul class="d-flex justify-content-start">
        <li>Cras odio</li>
        <li>Dapibus in</li>
        <li>Morbi leo</li>
        <li>Porta ac</li>
        <li>Vestibulum at</li>
      </ul>
    </div>
  </div>
  <app-leave-comment></app-leave-comment>
  <div class="comments">
    <app-comment-form></app-comment-form>
  </div>
</div>
