.img-fluid {
    max-width: 90%;
    max-height: 90%;
}

ul {
    padding-left: 0;
    li {
        border: 1px solid blue;
        border-radius: 5px;
        padding: 5px 10px;
        list-style: none;
        margin-right: 15px;
    }
}