header {
    margin-bottom: 20px;
}

.header-logo {
    background: url(https://i.pinimg.com/originals/9d/16/87/9d1687fe53247d0da876e4bff2e3ce64.png) no-repeat;
}

img {
    height: 70px;
    width: 70px;
    transition: 1s;
}

img:hover {
    height: 100px;
    width: 100px;
    transform: scale(1.2); 
}

svg {
    margin-left: 20px;
    margin-right: 20px;
}