  <div>
    <a href="single.html" class="img-2"><img
        [src]="post.imageUrl"
        class="img-fluid" alt="Colorlib Template" data-pagespeed-url-hash="1069472273">
    </a>
    <div class="text pt-3">
      <p class="meta d-flex"><span class="pr-3">{{post.topic}}</span><span class="ml-auto pl-3">{{post.time | date}}</span></p>
      <h3><a href="single.html">{{post.header}}</a></h3>
      <button type="button" class="btn btn-primary" (click)="btnClick()">Read more</button>
    </div>
  </div>